@using WebApp4.ViewModels;
@model CarsListViewModel

@{
    Layout = "_Layout";
}
 

<body>
    <h2> Все автомобили</h2>
    <h3>@Model.currCategoty</h3>
    @{
        foreach (var car in Model.Allcars)
        {
        <div>
            <img src="@car.Img"> </img>
            <h2>Модель: @car.Name </h2>
            <p>Цена: @car.Price.ToString("c")</p>
        </div>
        }       
    }
    

</body>

